<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Vertex Bank Web Application</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Signup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
    	<description>
    	</description>
    	<display-name>Dashboard</display-name>
    	<servlet-name>Dashboard</servlet-name>
    	<servlet-class>Dashboard</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AuditLog</display-name>
    	<servlet-name>AuditLog</servlet-name>
    	<servlet-class>AuditLogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Dashboard</servlet-name>
    	<url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AuditLog</servlet-name>
    	<url-pattern>/AuditLog</url-pattern>
    </servlet-mapping>

</web-app>
